@model ViceIO.Web.ViewModels.Pictures.PicturesListViewModel

@{
    this.ViewData["Name"] = "All Pictures";
}

<h1 class="text-center">You can check our pictures here.</h1>

<div class="table-responsive">
    <table>
        @{ var counter = 1; }
        <tr>
            @foreach (var picture in this.Model.Pictures)
            {
                <td>
                    <hr />
                    <div class="bs-example">
                        <div class="card" style="width: 230px;">
                            <img src="/system_images/Pictures/@picture.Id.@picture.Extension" class="card-img-top" width="360" height="300">
                            <div class="card-body text-center">
                                <a class="btn btn-info btn-sm" asp-controller="Pictures" asp-action="Details" asp-route-id="@picture.Id">Details</a>
                                <hr />
                            </div>
                        </div>
                    </div>
                </td>
                if (counter % 4 == 0)
                {
                @:</tr>
                @:<tr>
                }

                counter++;
            }
        </tr>
    </table>
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body ">
            <img class="img-fluid" id="mimg" src="">
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

<script>
    $('img').on('click', function () {
        var sr = $(this).attr('src');
        $('#mimg').attr('src', sr);
        $('#myModal').modal('show');
    });
</script>