@model ViceIO.Web.ViewModels.Pictures.CreatePictureInputModel

@{
    var categories = this.Model
        .Categories
        .Select(c => new SelectListItem()
        {
            Text = c.Name,
            Value = c.Id.ToString()
        });
}

<h1 class="text-center">Here you can upload your own picture.</h1>

<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="Name" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Name" class="input-group-text">
                    <i class="fas fa-signature"></i>
                </label>
            </div>
            <input asp-for="Name" rows="10" placeholder="Name" class="form-control" />
        </div>
    </div>
    <div>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
        <div class="text-center">Category</div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="CategoryId" class="input-group-text">
                    <i class="fas fa-list-ol"></i>
                </label>
            </div>
            <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="customFile">Upload Picture</label>
        <input type="file" class="form-control-file" id="customFile" asp-for="Picture" />
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <hr />
</form>
