@model ViceIO.Web.ViewModels.Pictures.GetPictureBaseViewModel

<h1 class="text-center">You got this random picture.</h1>

<hr />
<div class="bs-example d-flex justify-content-center">
    <div class="card" style="width: 430px;">
        <img src="/system_images/Pictures/@Model.Id.@Model.Extension" class="card-img-top" width="360" height="600">
        <div class="card-body text-center">
            <a class="btn btn-info btn-sm" asp-controller="Pictures" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <input type="button" class="btn btn-danger btn-sm" value="Random" onclick="location.href='@Url.Action("Random", "Pictures")'" />
            <hr />
        </div>
    </div>
</div>
<hr />