@model ViceIO.Web.ViewModels.Vices.VicesListViewModel

@{
    this.ViewData["Name"] = "All Vices";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

@foreach (var vice in this.Model.Vices)
{
    <hr />
    <div class="bs-example d-flex justify-content-center">
        <div class="card" style="width: 430px;">
            <div class="card-body text-center">
                <p>
                    @vice.ShortName@if (vice.Content.Length > 10)
                                   {<text>...</text>}
                </p>
                <a class="btn btn-info btn-sm" asp-controller="Vices" asp-action="Details" asp-route-id="@vice.Id">read more</a>
                <hr/>
            </div>
        </div>
    </div>
}

<form method="post" id="antiForgeryForm"></form>
<script>
    $("span[data-vote]").each(function (el) {
        $(this).click(function () {
            var value = $(this).attr("data-vote");
            console.log(value);
            var viceId = $(this).attr("id");
            console.log(viceId);
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { viceId: viceId, value: value };
            $.ajax({
                type: "POST",
                url: "/api/ViceVotes",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function (data) {
                    $('#averageVoteValue').html(data.averageVote % 1 == 0 ? data.averageVote : data.averageVote.toFixed(1));
                },
                contentType: 'application/json',
            });
        });
    });
</script>
