@model ViceIO.Web.ViewModels.Vices.AllVicesListViewModel

@{
    this.ViewData["Name"] = "All Vices";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

<hr />
<div class="row">
    @foreach (var vice in this.Model.Vices)
    {
        <div class="card col-md-4 bg-light">
            <div class="card-body text-center font-weight-bold">
                @vice.ShortName@if (vice.Content.Length > 15)
                {<text>...</text>}
                <div>
                    <a class="btn btn-info btn-sm" asp-controller="Vices" asp-action="Details" asp-route-id="@vice.Id">Read More</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />
