@model ViceIO.Web.ViewModels.Vices.CreateViceInputModel

@{
    var categories = this.Model
        .Categories
        .Select(c => new SelectListItem()
        {
            Text = c.Name,
            Value = c.Id.ToString()
        });
}

<div class="text-center">
    <h1>Hello, @User.Identity?.Name!</h1>
    <h2>You can upload your own joke from here!</h2>
</div>
<hr />

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="Content" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Content" class="input-group-text">
                    <i class="fas fa-envelope-open-text"></i>
                </label>
            </div>
            <textarea asp-for="Content" rows="10" placeholder="Content" class="form-control"></textarea>
        </div>
    </div>
    <div>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
        <div class="text-center">Category</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="CategoryId" class="input-group-text">
                    <i class="fas fa-list-ol"></i>
                </label>
            </div>
            <select asp-for="CategoryId" asp-items="categories" class="form-control">asd</select>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-danger " />
    </div>
</form>
<hr />