@model ViceIO.Web.ViewModels.Vices.GetRandomViceViewModel

<div class="text-center">
    <h1>Your random joke!</h1>
</div>
<hr />

<div class="bs-example d-flex justify-content-center">
    <div class="card" style="width: 230px;">
        <div class="card-body text-center">
            <p>
                @Model.ShortName@if (Model.Content.Length > 15)
                {<text>...</text>}
            </p>
            @if (Model.Content.Length > 15)
            {
                <a class="btn btn-info btn-sm" asp-controller="Vices" asp-action="Details" asp-route-id="@Model.Id">Read More</a>
            }
            else
            {
                <a class="btn btn-info btn-sm" asp-controller="Vices" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            }
            &nbsp;<input type="button" class="btn btn-danger btn-sm" value="Random" onclick="location.href='@Url.Action("Random", "Vices")'" />
            <hr />
        </div>
    </div>
</div>
<hr />