@model ViceIO.Web.ViewModels.Vices.CreateViceInputModel

@{
    var categories = this.Model
        .Categories
        .Select(c => new SelectListItem()
        {
            Text = c.Name,
            Value = c.Id.ToString()
        });
}

<div class="text-center">
    <h1>Hello, @User.Identity?.Name!</h1>
    <h2>You can upload your own joke from here!</h2>
</div>
<hr />

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group text-center">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" rows="5" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group text-center">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-danger " />
    </div>
</form>
<hr />