@model ViceIO.Web.ViewModels.Riddles.GetRiddleBaseViewModel

<div class="text-center">
    <h1>Your random joke!</h1>
</div>
<br />

<div class="text-center">
    <input type="button" class="btn btn-danger" value="Another one" onclick="location.href='@Url.Action("Random", "Vices")'" />
</div>
<hr />

<div class="card">
    <div class="card-body">
        <p class="card-text">
            @*@Model.ShortName @if (Model.Content.Length > 15)
            {<text>...</text>}*@
        </p>
    </div>
</div>
<hr />