@page

@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div class="row d-flex justify-content-center">
    
    <div class="col-md-4">
        <div class="text-center text-muted">
            Please enter your email bellow.
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label asp-for="Input.Email" class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </label>
                </div>
                <input asp-for="Input.Email" placeholder="Email" class="form-control"/>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <div class="text-center">
                <button type="submit" class="btn btn-success btn-sm">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
