@page

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center text-muted">
    Please check your email to reset your password.
</div>
